{% extends 'base.html' %} {% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem">
        <div class="card-body p-5 text-center">
          <h2>VERSION 1.0.0</h2>
          <hr />
          <h5>
            We are just a bunch of Enthusiastic people,who wants to help The
            Society.
          </h5>
          <hr />
          <h2>Our Creator Team:</h2>
          <hr style="color: #010101" />
          <ul class="">
            <li>Vaibhav Boliya</li>
            <li>Anand Pal</li>
            <li>Gurudat</li>
            <li>Akshay</li>
          </ul>
          <hr />
          <p class="td">Thank you, For visiting our website</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
