{% extends 'base.html' %} {% block content %}
<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
      <div class="card shadow-2-strong" style="border-radius: 1rem">
        <div class="card-body p-5 text-center">
          <div class="form-style">
            <h3 class="mb-5">Sign up</h3>
            <form class="site-form" action="." method="post">
              {% csrf_token %} {{ form.as_p }} {% if request.GET.next %}
              <input
                class="form-control"
                type="hidden"
                name="next"
                value="{{ request.GET.next }}"
              />
              --> {% endif %}
              <input
                class=" submit btn btn-primary btn-lg btn-block mt-5"
                type="submit"
                value="Sign Up"
              />
            </form>
          </div>
          <script type="text/javascript">
            document.getElementsByTagName("span")[0].innerHTML = "";
            document.getElementsByTagName("span")[1].innerHTML = "";
          </script>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>
